/*========================================== MASTER STYLESHEET ===================================================================

	Project     :	VALENTINES DAYS TEMPLATE
	Version     :	1.0
	Last Change : 	27/01/2017
	Primary Use :   VALENTINES DAYS TEMPLATE

=================================================================================================================================*/

/*========================================== LAYOUT ===================================================================

		1.GLOBAL STYLES
		2.COMMON STYLES
		3.THEME COLOR
		4.NAVIGATION
		5.BUTTON
		6.HEADER		
		7.VALENTINES DAY COLLECTION
		8.DISCOUNT 70%	
		9.WONDERFUL OFFER
		10.VALENTINES GALLERY
		11.LOVEABLE COLLECTION
		12.ACCESSORIES
		13.SPECIAL OFFERS
		14.FOOTER
		15.MEDIA QUERIES	

=================================================================================================================================*/

/*========================================== COLOR CODES =========================================================================

	Background         :#ffffff [white]
	Theme Color        :#ffffff and f5f5f5 
	Button Hover Color :#fc575e [dark pink]
	Main Heading Color :#333333 [dark black]
	Content Color      :#666666 [light gray]

=================================================================================================================================*/

/*========================================== TYPOGRAPHY =========================================================================

	Heading:font-family: 'Open Sans', sans-serif , Arial , Vedana  , Trebuchet MS;
	Body   :font-family: 'Lato', sans-serif , Arial , Vedana  , Trebuchet MS;

=================================================================================================================================*/

/*========================================== 1.GLOBAL CSS START ===========================================*/

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body {
  background: #ffffff;
  color: #666666;
  font-family: 'Lato', sans-serif , Arial , Vedana  , Trebuchet MS;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

a {
  outline: none !important;
  text-decoration: none !important;
}

p {
  color: #666666;
  margin: 0;
}

h2,
h3,
h4 {
  color: #333333;   
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', serif;	
	letter-spacing: 1px;
}

.valentine-section-padding h2 {
  font-size: 30px;
  font-weight:400;
  margin-top:0;
  margin-bottom:15px;
}

.valentine-section-padding h3 {
	font-size:25px;
	font-weight:500;
	text-transform:capitalize;
}

.valentine-section-padding h4 {
	color:#333333;
	font-size:20px;
	font-weight:600;
	text-transform:uppercase;
}

.valentine-section-padding h5 {
	font-size:18px;	
}


.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

/*========================================== 1.GLOBAL CSS END ===========================================*/

/*========================================== 2.COMMON CSS START ===========================================*/

.bottom-space-3 {
	padding-bottom:30px;
}

.valentine-section-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}

.valentine-section-1-bg {
  background-color: #ffffff;
}

.valentine-section-2-bg {
  background-color: #f5f5f5;
}

.valentine-heading-div {
	padding-bottom:40px;
}

.special-offer-col img,
.loveable-collection-col img,
.wonderful-col img,
.discount-col img,
.gift-col img,
.valentine-collection-col img {
	margin:0 auto;	
}

/*========================================== 2.COMMON CSS END ===========================================*/

/*========================================== 3.THEME COLOR START ============================================*/

.menu-bar-3 .navbar-nav.clearfix.fixed-header> li > a.active,
.menu-bar-3 .navbar-nav > li > a.active,
.menu-bar-3 .navbar-nav > .active > a,
.menu-bar-3 .navbar-nav > .active > a:focus,
.menu-bar-3 .navbar-nav > .active > a:hover {
  background-color: none;
  color: #666666 !important;  
}

.valentine-menu .navbar-nav>li > a:after,
.valentine-menu .navbar-nav>li.active > a:after {
    background-color: #fc575e;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    display: block;
    height: 1px;
    margin: auto 0;
    position: absolute;
    top: 0;
    transition: width 1s ease-in-out;
    width: 0%;
}

.valentine-menu .navbar-nav>li > a:hover:after,
.valentine-menu .navbar-nav>li.active > a:after {
    width: 100%;
}

.valentine-menu .navbar-nav>li>a {   
    position: relative;
    text-decoration: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
}

/*========================================== 3.THEME COLOR ENDS ============================================*/

/*========================================== 4.NAVIGATION START ===========================================*/

.menu-bar-3 .navbar-nav > li > a {	
	font-weight:600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
  background-image: none;
  box-shadow: none;
  background-color: unset;
}

.navbar-brand, .navbar-nav > li > a {
  text-shadow: none;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
}

.navbar-nav > li > a {
  padding: 7px 5px;
}

.menu-3 > a {
  font-size: 13px;
}

.navbar-default {
  background-color: transparent;
  background-image: none;
  border: 0px;
}

.navbar {
  border-radius: 0;
}

.navbar-nav {
	padding-bottom:12px;
	padding-top:21px;
}

.menu-3 {
    padding-left:3px;
    padding-right:3px;
}

.menu-3.menu-bar > img {
	padding-top:7px;
}

.logo-image-3 {
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

.menu-bar-3 {
	margin-bottom:0;
}

/*========================================== 4.NAVIGATION END ===========================================*/

/*================================================ 5.BUTTON STRAT =========================================*/

.btn-3 {
	background-color:#fc575e;
	border: none;
	border-radius:5px;
	color: #ffffff;
	cursor: pointer;
	font-family: inherit;
	font-size: 14px;
	font-weight: 600;
	letter-spacing:0.5px;
	outline: none;
	padding: 8px 20px;
	position: relative;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	text-transform:uppercase;
}

.btn-3:hover {
	color: #ffffff;
}

/*================================================ 5.BUTTON ENDS ==========================================*/

/*======================================= 6.SECTION : HEADER START ========================================*/

.header-image-3 {
	background-image: url("../../valentine-images/1500x600.jpg");
	padding-bottom:300px;
	padding-top:300px;	
	background-position: center center;
	background-size: cover;
}

/*======================================= 6.SECTION : HEADER END ========================================*/

/*======================================= 7.SECTION : VALENTINES DAY COLLECTION START ========================================*/

.valentine-collection-div-1 {
	padding-bottom:30px;	
}

.valentine-collection-col h3 {	
	line-height:55px;
}

.valentine-collection-col span {
	color:#fc575e;
	font-size:40px;
	font-weight:700;
}

.gift-col h3 {
	line-height:55px;
}

.gift-col-btn {
	margin-top:30px;
}

/*======================================= 7.SECTION : VALENTINES DAY COLLECTION END ========================================*/

/*======================================= 8.SECTION : DISCOUNT 70% START ===================================================*/

.discount-col h3 span {
	color:#fc575e;
	font-size:40px;
	font-weight:700;
}

.discount-col h3 {
	padding-bottom:5px;
	text-transform:uppercase;
}

.vouchers {
	color:#fc575e;
	font-size:16px;
	font-weight:600;
	letter-spacing:1px;
	margin-bottom:20px;
	margin-top:20px;
}

/*======================================= 8.SECTION : DISCOUNT 70% END ===================================================*/

/*======================================= 9.SECTION : WONDERFUL OFFER START ===================================================*/

.wonderful-section {
	background-image: url("../../valentine-images/1500x690.jpg");
	background-position: center center;
	background-size: cover;
} 

.wonderful-div  {
	background-color:#ffffff;
	padding:20px 20px 40px 20px;
}

.wonderful-div h3 {
	line-height:55px;
}

.wonderful-section .row {
	width:60%;
	margin:0 auto;
}

/*======================================= 9.SECTION : WONDERFUL OFFER END ===================================================*/

/*======================================= 10.SECTION : VALENTINES GALLERY START ===================================================*/

.valentine-gallery-col ul {
	margin-bottom:0;
	padding-left:0;
	padding-top:20px;
}

.valentine-gallery-col li {
	display:inline-block;
	list-style:none;
}

.valentine-gallery-col li  p {
	font-size:18px;
	font-weight:600;
	letter-spacing:1px;
	line-height:30px;
}

.valentine-gallery-col li  p  span{
	color:#fc575e;
}
	
.valentine-gallery-icon {
	float:right;
}

/*======================================= 10.SECTION : VALENTINES GALLERY END ===================================================*/

/*======================================= 11.SECTION : LOVEABLE COLLECTION START ===================================================*/

.loveable-collection-col h4 {
	padding-top:20px;
	padding-bottom:5px;
}

.loveable-collection-col li p {
	color:#fc575e;
	font-size:16px;
	font-weight:600;
	letter-spacing:1px;
	text-transform:uppercase;
}

.loveable-collection-col li p span {
	color:#666666;	
}

.loveable-collection-col li p a {
	color:#fc575e;
}

.loveable-collection-col ul {
	padding-left:0;
	padding-top:15px;
}

.loveable-collection-col li {
	display:inline-block;
	list-style:none;
	margin-left:5px;
	margin-right:5px;
}

.loveable-collection-col li img {
	padding-bottom:5px;
}

/*MUCH MORE SECTION*/
.much-more-section{
	background-image: url("../../valentine-images/1500x530.jpg");
	background-position: center center;
	background-size: cover;
	padding-bottom:240px;
	padding-top:220px;
} 

.much-more-div h2 {
	color:#ffffff;
}

/*======================================= 11.SECTION : LOVEABLE COLLECTION END ===================================================*/

/*======================================= 12.SECTION : ACCESSORIES START =========================================================*/

.gift-items-col h4 {
	padding-top:15px;
}

.valentine-readmore {		
	font-weight:bold;
	letter-spacing:1px;	
	margin-top:10px;
}

.valentine-readmore  a{
	color:#fc575e;
}

.accessories-col {
	background-color:#ffffff;
	padding-bottom:30px;
}

.accessories-col h4 {
	padding-bottom:10px;
	padding-top:15px;	
}

.accessories-col p {
	font-weight:bold;
	letter-spacing:1px;
	padding-bottom:15px;	
}

/*======================================= 12.SECTION : ACCESSORIES END =========================================================*/

/*======================================= 13.SECTION : SPECIAL OFFERS START =========================================================*/

.offer-buynow {
    font-size:20px;
    font-weight:bold;
    letter-spacing:1px;
}

.offer-buynow a {
	font-size:15px;
	color:#fc575e;
	font-weight:bold;
	letter-spacing:1px;
	text-transform:uppercase;
}

.special-offer-col > p {
    margin-top:18px;
}

.second-row-offer {
	margin-top:40px;
}

/*======================================= 13.SECTION : SPECIAL OFFERS END =========================================================*/

/*======================================= 14.SECTION : FOOTER START ============================================================*/

.valentine-footer-section {
	background-color:#f5f5f5;
}

.mail {
	letter-spacing:1px;
	padding-top:10px;
}

.mail a {
	color:#666666;
}

.footer-div p {
	letter-spacing:1px;
}

.footer-div ul {	
	padding-left:0;
}

.footer-div li {
	display:inline-block;
	list-style:none;
	margin-left:5px;
	margin-right:5px;
}

.footer-div  p { 
	width:80%;
	margin:0 auto;
}

.separator {
	border-bottom:1px solid #dddddd;
	margin-bottom:30px;
	margin-top:30px;
}

/*======================================= 14.SECTION : FOOTER END =========================================================*/

/*======================================= 15.SECTION : MEDIA QUERIES START =========================================================*/

@media only screen and (min-width: 250px) and (max-width: 767px) {
	.col-sm-3.valentine-collection-col {
		padding-bottom:10px;
	}	
	.valentine-top-space {
		margin-top:40px;
	}	
	.accessories-row,
	.valentine-gallery-div {
		margin:0 auto;
		width:340px;
	}	
	.footer-div p {
		width:100%;
	}
	.menu-3.menu-bar {
		display:none;
	}
	.menu-bar-3 .navbar-nav > li > a {
		display:inline-block;
	}	
	.navbar-toggle-3 {
		margin-top:20px;
	}
	.menu-3 {
		padding-left:10px;
	}
}

@media only screen and (min-width: 250px) and (max-width: 479px) { 		
	.wonderful-section .row {
		margin:0 auto;		
		width:90%;
	}	
	.gift-items-col {
		width:100%;
	}	
	.gift-items-col-space {
		margin-top:40px;
	}
}

@media only screen and (min-width: 250px) and (max-width: 360px) { 	
	.wonderful-section .row {
		margin:0 auto;		
		width:100%;
	}	
	.accessories-row,
	.valentine-gallery-div {
		margin:0 auto;
		width:100%;
	}
	.footer-div li {
		margin:0 1px;
	}	
}

@media only screen and (min-width: 768px) and (max-width: 991px) { 
	.valentine-collection-col h3 {
		line-height: 48px;
		margin-top:0;
	}	
	.valentine-collection-col {
		padding-bottom:30px;
	}	
	.special-offer-col,
	.wonderful-section .row,
	.discount-col,
	.gift-col {
		width:100%;
	}	
	.special-offer-col.col-sm-push-6,
	.gift-col.col-sm-push-6 {
		left:0;
	}	
	.special-offer-col.col-sm-pull-6,
	.gift-col.col-sm-pull-6 {
		right:0;
	}	
	.gift-items-col-1,
	.discount-col.text-center {
		margin-top:40px;
	}	
	.valentine-gallery-col li p {
		font-size:16px;
	}
	.loveable-collection-col li p {   
		font-size: 14px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) { 	
	.wonderful-section .row {
		width:75%;
	}
}

/*======================================= 15.SECTION : MEDIA QUERIES END =========================================================*/